<div class="row">
  <div class="filter-responsive col s12 m6 center center">
      <%= link_to("all") do%>
  <div class="filter">
    <%=image_tag 'background', class: "z-depth-2"%>
       <div class="text center">
          <h2>all gender</h2>
       </div>
       <%end%>
  </div>
  </div>

<div class="filter-responsive col s12 m6 center">

  <%= link_to("male") do%>
<div class="filter">
<%=image_tag 'background', class: "z-depth-2"%>
   <div class="text center">
      <h2>male</h2>
   </div>
</div>
<%end%>
</div>



<div class="filter-responsive col s12 m6 center">
  <%= link_to("female") do%>
<div class="filter">
<%=image_tag 'background', class: "z-depth-2"%>
   <div class="text center">
      <h2>female</h2>
   </div>
</div>
<%end%>
  </div>


<div class="filter-responsive col s12 m6 center">
  <%= link_to("genderless") do%>
<div class="filter">
<%=image_tag 'background', class: "z-depth-2"%>
   <div class="text center">
      <h2>genderless</h2>
   </div>
   <%end%>
</div>
    </div>

</div>
