<div class="logout col s12 ">
<div class="right-align">
     <%= devise_error_messages! %>
    <%= button_to "cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-logout waves-effect waves-light btn waves-red' %>
 </div>
  <form class="edit_user" id="edit_user" action="/users" accept-charset="UTF-8" method="post" enctype="multipart/form-data"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

      <div class="container">
        <div class="row">
          <div class="input-field col s4">
            <label class="col-sm-2 control-label active" for="user_name">Name</label>
            <input autofocus="autofocus" class="input" type="text" value="<%=current_user.name%>" name="user[name]" id="user_name">
          </div>
          <div class="input-field col s8">
             <label class="col-sm-2 control-label active" for="user_email">Email</label>
             <input class="input" type="email" value="<%=current_user.email%>" name="user[email]" id="user_email">
          </div>
             <div class="input-field col s6">
                <label class="col-sm-2 control-label active" for="user_password">Password</label>
                <input placeholder="leave blank if you don't want to change it" autocomplete="off" class="input" type="password" name="user[password]" id="user_password">
             </div>
             <div class="input-field col s6">
                <label class="col-sm-2 control-label active" for="user_password_confirmation">Password confirmation</label>
                <input placeholder="leave blank if you don't want to change it" autocomplete="off" class="input" type="password" name="user[password_confirmation]" id="user_password_confirmation">
             </div>
          </div>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="user[avatar]" >
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
          <div class="center">
            <button type="submit" class="waves-effect waves-light btn-large">edit information
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          </button>

      </div>
     </form>
    </div>
