 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <div class="container">
   <div class="row">
   <%= devise_error_messages! %>


   <div class="input-field col s4">
        <label class="col-sm-2 control-label active" for="user_name">first name</label>
       <div class="col-sm-6">
    <%= f.text_field :first_name, autofocus: true %>
  </div>
</div>

<div class="input-field col s4">
     <label class="col-sm-2 control-label active" for="user_name">last name</label>
    <div class="col-sm-6">
     <%= f.text_field :last_name %>
   </div>
   lol
 </div>
 <div class="input-field col s4">
      <label class="col-sm-2 control-label active" for="user_name">birthday</label>
     <div class="col-sm-6">
<%= date_field(:user, :birthday, class: 'datepicker') %>
<script type="text/javascript">
var d = new Date();
d.setFullYear( d.getFullYear() - 100 );
$('.datepicker').pickadate(
{
   selectMonths: true,
   selectYears: true,
   min: d,
   max: new Date()
});
</script>
</div>
</div>
<div class="input-field col s4">
     <label class="col-sm-2 control-label active" for="user_name">as you define</label>
    <div class="col-sm-6">
     <%= f.text_field :description %>
   </div>
 </div>

 <div class="input-field col s4">
      <label class="col-sm-2 control-label active" for="user_name">designer name</label>
     <div class="col-sm-6">
         <%= f.text_field :name,  class: 'input',autofocus: true %>
     </div>
 </div>
 <div class="input-field col s8">
      <label class="col-sm-2 control-label active" for="user_email">Email</label>
     <div class="col-sm-6">
         <%= f.email_field :email, class: 'input' %>
     </div>
 </div>

 <div class="input-field col s6">
      <label class="col-sm-2 control-label active" for="user_password">Password</label>
     <div class="col-sm-6">
         <%= f.password_field :password, autocomplete: "off",  class: 'input' %>
     </div>
 </div>

 <div class="input-field col s6">
      <label class="col-sm-2 control-label active" for="user_password_confirmation">Password confirmation</label>
     <div class="col-sm-6">
         <%= f.password_field :password_confirmation, autocomplete: "off",  class: 'input' %>
     </div>
 </div>
</div>
 <div class="center">
   <button  name="commit" value="Sign up" type="submit" class="waves-effect waves-light btn-large">sign up
     <i class="fa fa-user-plus" aria-hidden="true"></i>
 </button>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><%= f.submit "Log in" %></a>
    <%= render partial: "devise/shared/links" %>
</div>

 <% end %>
