<% @user.each do |user| %>
<div class="row">
    <div class="brand">
        <div class="card-user">
            <%=image_tag("background.png", width: "100%")%>
            <div class="text-user">
                <div class="card-image">
                    <a class="collection-item modal-trigger" href="#modal3">
                        <% if user.avatar.present? %>
                        <%= image_tag(user.avatar.url(:medium), class: "circle responsive-img") %>
                    <% else %>
                        <%= image_tag("add_user.png", size: "300", class: "circle responsive-img")%>
                        <% end %>
                    </a>
                    <div id="modal3" class="modal">
                        <%= render partial: "devise/registrations/edit_image"%>
                    </div>
                    <div class="center">
                        <h2><%=user.name%></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logout col s12 ">
        <div class="right-align">
            <%= link_to(destroy_user_session_path, :method => :delete, class: "button-logout waves-effect waves-light btn red") do%>
            log out
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
        <% end %>
    </div>
</div>
<div class="col s12 m6">
    <div class="card darken-1">
        <div class="card-content">
            <span class="card-title">User Information</span>
            <ul class="collection">
                <li class="collection-item">Username:
                    <%=user.name%></li>
                <li class="collection-item">first name:
                    <%=user.first_name%></li>
                <li class="collection-item">last name:
                    <%=user.last_name%></li>
                <% if user.description.nil? %>
                <a class="collection-item modal-trigger" href="#modal1">Please describe here to you know</a>
                <%else%>
                <li class="collection-item">your description:
                    <%=user.description%></li>
                <%end%>
                <div id="modal1" class="modal">
                    <%=render partial: "devise/registrations/edit_description"%>
                </div>

            </ul>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Edit information</a>
            <div id="modal2" class="modal">
                <%= render partial: "devise/registrations/edit"%>
            </div>
        </div>
    </div>

</div>
<div class="col s12 m6">
    <div class="card darken-1">
<%= column_chart @designs_count %>
    </div>
</div>

</div>
<%end%>
</div>
