<!DOCTYPE html>
<html>
  <head>
    <title>DesignersOportunity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

    <%=render partial: "layouts/header"%>
        <main>
    <% if current_user == nil %>
    <% else %>
    <%= render partial: "layouts/flash" %>
    <%end%>
    <%= yield %>
        </main>
    <%= render "layouts/footer" %>

  </body>
</html>
